version: "3.9"
services:
  api:
    build: .
    container_name: ml_api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
    environment:
      - PYTHONUNBUFFERED=1

  dashboard:
    build: .
    container_name: ml_dashboard
    command: streamlit run app/dashboard/app.py --server.port=8501 --server.address=0.0.0.0
    ports:
      - "8501:8501"
    depends_on:
      - api
